<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="qimonjy.cn.imui">

    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application>

    </application>

</manifest>
